{% extends 'main/lauot.html' %}
{% block content1 %}
                   <li class="list-group-item" ><i class="fas fa-home"></i><a href="{% url 'home' %}">  Главная</a> </li>
                   <li class="list-group-item"><a href="{% url 'about' %}"> О нас </a></li>
                   <li class="list-group-item active"><a href="{% url 'news_home' %}"> Report </a></li>
                   <li class="list-group-item active"><a href="{% url 'news1_home' %}"> Новости на сайте </a></li>
{% endblock%}
{% block content %}
<div class="features">
<h1> Добовление новости</h1>
<form method="post" action="/news1/create">
      {% csrf_token %}
    {{ form.title }} <br>
    {{ form.anons}} <br>
    {{form.full_text}} <br>
    {{form.date}} <br>
    <button type="submit" class="btn btn-success">Добавить статью</button>

    <span> {{error}} </span>


</div>
{% endblock %}
{% block title %}
Форма по Добовлению новости
 {% endblock %}
