{% extends 'main/lauot.html' %}

{% block content1 %}
                   <li class="list-group-item  active" ><i class="fas fa-home"></i><a href="{% url 'home' %}">  Главная</a> </li>
                   <li class="list-group-item"><a href="{% url 'about' %}"> О нас </a></li>
                    <li class="list-group-item active"><a href="{% url 'news_home' %}"> Report </a></li>
<li class="list-group-item active"><a href="{% url 'news1_home' %}"> Новости на сайте </a></li>

<a href="{% url 'create' %}"><li><button class="btn btn-info"> Добавить новость </button></li></a>

{% endblock%}
{% block content %}
<h1>{{title}}</h1>
{% for el in Array_auto %}
<p>{{el|upper}}</p>
{% endfor %}

<h2> Ghbdtn</h2> <script> let rt; rt='Привет'; alert(rt);</script>
{% include 'main/test.html' %}
<button class="btn btn-warning">На страницу про нас</button>
{% endblock%}
{% block title %}
{{title}}
{% endblock%}

