{% extends 'main/lauot.html' %}
{% block content1 %}
                   <li class="list-group-item" ><i class="fas fa-home"></i><a href="{% url 'home' %}">  Главная</a> </li>
                   <li class="list-group-item"><a href="{% url 'about' %}"> О нас </a></li>
                   <li class="list-group-item active"><a href="{% url 'news_home' %}"> Report </a></li>
<li class="list-group-item active"><a href="{% url 'news1_home' %}"> Новости на сайте </a></li>

{% endblock%}
{% block content %}
<div class="features">
<form action="{% url 'othet1' %}" method="post">
     {% csrf_token %}

    <label> {{ rd }} </label>

       {{ form.date1 }} <br>
       {{ form.date2}} <br>


       <input value="ok"  type="submit">


</form>

</div>

 {% endblock %}
{% block title %}
Отчет


 {% endblock %}